#login .login-layout {
  border-radius: 10px;
  margin-top: 100px;
}
#login .login-text {
  font-size: 30px;
  font-weight: bolder;
  color: #558c90;
  margin: 30px 0;
}
#login .username,
.password {
  position: relative;
}

#login .login-container {
  position: relative;
  margin: 0 50px;
}

#login input {
  font-size: 15px;
  height: 50px;
  outline: none !important;
  box-shadow: none !important;
  padding: 10px 0px 0 25px;
}

#login .form-control {
  border: 1px solid #c9c9c9;
  border-radius: 40px;
  color: black;
}

#login input:focus ~ .floating-label,
#login input:not(:focus):valid ~ .floating-label {
  top: 4px;
  bottom: 10px;
  left: 25px;
  font-size: 10px;
  opacity: 0.31;
}

.inputText {
  font-size: 14px !important;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 25px;
  top: 25px;
  transition: 0.2s ease all;
  font-size: 11px;
  color: #000000;
  opacity: 0.31;
}
#login .login-button {
  background-color: #558c90;
  color: white;
  border-radius: 50px;
  padding: 11px 0;
  font-size: 18px;
}
#login .agreement {
  font-size: 11px;
  color: #a6a6a6;
}
#login a {
  color: #558c90 !important;
  text-decoration: none;
}
#login .forgot-password {
  padding: 35px 0;
  font-size: 14px;
}
#login .sign-up-prompt {
  font-size: 15px;
  color: #707070;
  opacity: 0.85;
}
