#new-coverage .text-primary {
  color: #578a8d !important;
}

#new-coverage .btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

#new-coverage .btn-primary {
	background-color: #578a8d;
	border-color: #578a8d;
}

#new-coverage .btn-primary:hover {
	background-color: rgba(87, 138, 141, 0.8);
	border-color: rgba(87, 138, 141, 0.8);
}

#new-coverage .form-control {
	background-color: rgba(87, 138, 141, 0.1);
	border: 0px;
	color: #578a8d;
	height: 2.7rem;
}

#new-coverage .form-control::placeholder {
	font-style: italic;
	padding-left: 2rem;
	color: rgba(87, 138, 141, 0.5);
}