.dashboard {
	position: relative;
}

.dashboard .stat-cards .card {
	border-radius: 0px !important;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(214, 211, 214, 1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(214, 211, 214, 1);
	box-shadow: 2px 2px 5px 0px rgba(214, 211, 214, 1);
}

.dashboard .stat-cards .card .card-header {
	background-color: #ffffff !important;
	border-color: rgba(87, 138, 141, 0.2);
}

.dashboard .stat-cards .card .card-header-title {
	font-size: 11px !important;
	font-weight: bold;
	color: #666666;
}

.dashboard .stat-cards .card .card-body {
	color: #578a8d;
}

.dashboard .modal-card {
	position: absolute;
	border: none;
	margin-top: 40px;
	left: -13px
}

.dashboard .modal-content {
	border: none
}

.dashboard .modal-body {
	border: none;
	border: 1px solid red;
	position: relative;
	width: 100%;
	float: right;
}

.dashboard .upload-title {
	font-size: 16px;
	text-align: center;
	color: #558C90;
	border-bottom: 0.5px solid #cccccc
}

.dashboard .upload-text {
	opacity: .59;
}

.dashboard .upload-icon {
	opacity: .43;
}

.dashboard .fa-laptop {
	font-size: 15px;
	position: relative;
	right: 23px
}

.dashboard .laptop-text {
	padding-left: 22px
}

.dashboard .laptop-text:hover {
	color: #558C90
}

.dashboard .closes {
	position: relative;
	pointer-events: visible;
	cursor: pointer;
	float: right;
	font-size: 30px;
	color: #ffffff;
	margin: 20px 15px 0 0
}

.dashboard .disabled {
	pointer-events: none;
	opacity: 0.5;

}