#auth {
  height: 100vh;
  background: #578a8d;
}

#auth form {
  width: 40%;
  margin: auto;
  margin-top: 3rem;
  background: #578a8d;
  padding: 3rem;
  margin-top: 10rem;
  box-shadow: 6px 12px 24px rgba(0, 0, 0, 0.20);
}

#auth .form-control {
  border-radius: 0 !important;
  border: 1px solid rgba(243, 248, 248, 0.4);
  background: rgba(243, 248, 248, 0.1);
  color: rgb(243, 248, 248) !important;
}

#auth .form-control:focus {
  border: 1px solid rgb(243, 248, 248);
}


#auth .auth-form input:focus {
  outline: none !important;
  box-shadow: none;
}

#auth .auth-form input::-webkit-input-placeholder {
  color: rgba(243, 248, 248, 0.68);
}

#auth .auth-form button {
  width: 100%;
  border: 1px solid rgb(243, 248, 248);
  border-radius: 0;
  background: rgb(243, 248, 248);
  color: #222222;
}

#auth .auth-form button:hover {
  background: rgb(211, 216, 216);
  box-shadow: 6px 12px 24px rgba(0, 0, 0, 0.20);
}

@media (max-width: 767.98px){ 
  #auth form {
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  background: #578a8d;
  padding: 3rem;
  margin-top: 10rem;
}
}
